body {
margin : 0;
padding : 0;
font : 75% helvetica, "Trebuchet MS", arial, sans-serif;
background : #fffff0;
line-height : 1.7em;
color : #555;
}
			/*TOP BANNER*/
#header {
height : 188px;
margin-top : 0;
padding : 0;
background : #e88d33 url(img/bner.jpg);
color : #e3e40d;


}
			/*TOP NAVIGATION*/
#topnav ul {
padding : 0.5em 0;
margin : 0 0 5px 0;
list-style-type : none;
background : #885835;
color : #fff;
text-align : center;
font-weight : bold;
}
#topnav li {
display : inline;
}
#topnav li a, #topnav a:visited {
text-decoration : none;
background : #885835;
color : #fff;
padding : 0.6em 1.3em;
border-right : 1px solid #fff;
}
#topnav a:link.active, #topnav a:visited.active, #topnav a:hover {
text-decoration : none;
background : #f17327;
color : #000;
}
			/*3 COLUMNS*/
#gutter {
float : left;
width : 3%;
height : 1px;
}
#col1 {
float : left;
width : 18%;
margin-bottom : 1em;
padding-right : 1%;
}
#col2 {
float : left;
width : 53%;
margin-left : 2%;
margin-bottom : 1em;
border-left : 1px dashed #dda875;
border-right : 1px dashed #dda875;
padding-right : 3%;
padding-left : 3%;
 
}
#col3 {
float : right;
width : 15%;
margin-left : 0%;
margin-bottom : 1em;
}
			/*RIGHT NAVIGATION*/
#navcontainer ul {
	margin: 10px;
	padding: 10px;
	list-style-type: none;
	background: #fffff0;
	color: #666;

}

	#navcontainer ul li a {
	
		padding: 10px;
	
		color: #885835;
		background: transparent url(img/list-off-orange.gif) no-repeat left center;
		text-align: left;
		font: 20px "Lucida Grande", "Lucida Sans Unicode", lucida, sans-serif;
		text-decoration: none;
	}
#navcontainer ul li a:hover {
color : #f17327;
background : transparent url(img/list-on-orange.gif) no-repeat left center;
}
#navcontainer ul li a#current {
background : transparent url(img/list-active.gif) no-repeat left center;
color : #000;
}

			/*FOOTER*/
#footer {
clear : both;
height : 40px;
background : #f17327;
border-top : 5px solid #885835;
color : #000;
padding : 0.2em 0 0 0.5em;
text-align : center;
    
}
#footer a {
color : #fff;
background : inherit;
}
#footer a:hover {
color : #000;
background : inherit;
}
			/*TYPOGRAPHY*/
h1 {
margin : 0;
padding-top : 75px;
text-align : center;
font-size : 4em;
color : #16d6e3;
background : inherit;
    height: 31px;
}
h2 {
margin-top : 0;
padding-top : 0.5em;
padding-bottom : 0.5em;
text-transform : uppercase;
letter-spacing : 3px;
font-size : 1.5em;
color : #885835;
background : inherit;
    height: 26px;
}
h3 {
margin-top : 0;
font-size : 0.75em;
text-align : center;
color : #666;
background : inherit;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*LINKS*/
a {
text-decoration : none;
color : #006699;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #444;
background : inherit;
}
a img {
border : 0;
}
			/*IMAGES*/
.myimage {
float : left;
padding : 10px;
border : 1px solid #aaa;
margin-right : 10px;
}
.myimage2 {
float : right;
padding : 10px;
border : 1px solid #aaa;
margin-left : 10px;
}
#form {
	background-color: #dfd739;
	height: 800px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px;
}

label {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #f3dd0b;
	height: 20px;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	clear: both;
	float:left;
}


input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #f8f6c9;
	color: black;
	border: 1px solid #000;
	
	


